h1{
    color:rgb(100, 59, 4);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

h2{
    color:rgb(192, 120, 12)
}

button{
    background: green;
    color: white;
    padding: 15px 10px;
    border: none;
    cursor: pointer;
}
button:hover{
    background: rgb(13,166,13);
}
